<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-9">
    <div class="col-sm-9">
      <ol class="breadcrumb">
        <li>
          <%= link_to "Article", post_path(@post) %>
        </li>
        <li class="active">Edit</li>
      </ol>
    </div>

    <div class="col-sm-9">
      <%= simple_form_for @post, class: "form-horizontal" do |f| %>
        <legend>Edit Article</legend>
        <div class="form-group row">

          <div class='col-sm-1 control-label'>
            <%= f.label "Category" %>
          </div>

          <div class="col-sm-2">
            <%= f.select :category_id, Category.all.map { |r| [r.name, r.id] }, include_blank: true, class: 'form-control' %>
          </div>

          <div class="col-sm-3">
            <%= link_to new_category_path, class: "btn btn-info btn-small" do %>
              <i class="glyphicon glyphicon-plus"> Create New Category</i>
            <% end %>
          </div>

          <div class="col-sm-2">
          </div>
        </div>

        <div class="form-group row">

          <div class='col-sm-1 control-label'>
            <%= f.label "Title" %>
          </div>

          <div class="col-sm-8">
            <%= f.input_field :title, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">

          <div class='col-sm-1 control-label'>
            <%= f.label "Body" %>
          </div>

          <div class="col-sm-8">
            <%= f.input :body, :input_html => {:rows => 10, :cols => 100}, label: false, class: 'form-control'%>
          </div>
        </div>

        <div class="form-group row">

          <div class='col-sm-1 control-label'>
            <%= f.label "Tags" %>
          </div>

          <div class="col-sm-3">
              <%= f.association :tags, as: :check_boxes, label: false, class: 'form-control' %>
          </div>

          <div class="col-sm-3">
            <%= link_to new_tag_path, class: "btn btn-info btn-small" do %>
              <i class="glyphicon glyphicon-plus"> Create New Tag</i>
            <% end %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-offset-1 col-sm-8">
            <button type="submit" class="btn btn-primary">Save</button>
            <%= link_to post_path(@post), class: "btn btn-danger" do %>
              <i>Cancel</i>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>

  </div>
</div>
