<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="glyphicon glyphicon-search"></span> Search</div>
      <div class="panel-body">
        <%= form_for posts_path, method: :get do |f| %>
          <div class="form-group">
            <%= text_field_tag :q, params[:q] %>
            <%= submit_tag "Go", name: nil %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="alert alert-info">
      <strong>Can't find what you're looking for?</strong>
      <%= link_to "Create an article.", new_post_path %>
    </div>

    <section class="search-results">
    <ul class="media-list">
      <% @posts.each do |post| %>
        <li class="media">
          <div class="media-body">
            <h3 class="media-heading">
              <%= link_to "[#{post.category["name"]}] #{post["title"]}", post_path(post) %>
            </h3>
            <p align="justify"><strong><%= post["body"] %></strong></p>
            <span><b>Updated on:</b> <em><%= post["updated_at"].in_time_zone("Central Time (US & Canada)").strftime("%m/%d/%Y at %I:%M%p") %></em></span>
            <i class="fa fa-tags"></i> <b>Tags:</b> <% post.tags.each do |tag| %> <span class="label label-info"><%= tag["name"] %></span> <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
